* {
}

#header, #footer {
  width: 100%;
}

#footer {
  position: fixed;
  bottom: 0;
}

#search-bar {
  padding-top: 5px;
}

.event-search {
  width: auto;
  min-width: 50%;
  height: auto;
}

.contact-input {
  width: auto;
  min-width: 30%;
  height: auto;
}

#contact-submit-button {
  display: flex;
  justify-content: center;
}

#contact-input-name, #contact-input-email, #contact-input-phone, #contact-input-text {
}

html {
  font-family: 'Lilita One', cursive;
}

@media (min-width: 550px) {
  nav > .fa-bars {
    display: none;
  }
  .menu {
    width: 100vw ;
    height: 6vh;
    display: flex;
    justify-content: center;
  }
  .menu > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #ffffff;
  }

  .menu > ul > li {
    display: flex;
    align-content: space-between;
    padding: 0px 20px 0px 20px;
    color: #ffffff;
  }

  .menu a {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
  }
}

@media (max-width: 549px) {
  .hidden--mobile {
    display: none !important;
  }
  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav > i {
    padding: 1rem;
    font-size: 2em;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }
  .menu a {
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
  }
  #resultsTable {
    width: 90vw;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  #apiResults {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
  }
}

#recs-container {
  overflow-x: scroll;
}

.menu {
  background-color: #ba3b0a;
  color: #ffffff;
}

#search-bar {
  display: flex;
  justify-content: center;
  width: 100vw ;
}

.recommendations img {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  width: 200px;
  height: auto;
}

.recommendations {
  display: flex;
  justify-content: center;
}

.recommendations ul {
  display: grid;
  grid-template-columns: 115px 250px 250px 300px;
}

.recommendations li {
  list-style-type: none;
}

.recommendations li:hover {
  opacity: .5;
  transform: scale(1.1);
}

.recommendations-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.footer {
  background-color: #ba3b0a;
  color: #ffffff;
  width: 100vw ;
  display: flex;
  justify-content: center;
}

input {
  text-align: center;
}

.footer > label {
  display: flex;
  align-content: space-between;
  padding: 0px 30px 0px 30px;
  color: #ffffff;
}

.footer> input {
  display: flex;
  align-content: space-between;
  padding: 0px 30px 0px 30px;
}

.written-content {
  display: flex;
  justify-content: center;
}

#results {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  overflow-x: scroll;
  overflow-y: scroll;
}

#contact-form > label{
  display: flex;
  justify-content: center;
}

.contact-input {
  display: flex;
  justify-content: center;
}

#about-image > img {
  height: auto;
  width: 40%;
}

#about-paragraph {
  margin: 80px;
  font-size: 28px;
}

td {
  padding: 10px;
}

.bottom-of-search {
  margin-left: 5px;
}

#resultsTable {
  border-collapse: collapse;
  border-style: hidden;
}

tr.header-border {
  outline: solid black;
  background-color: gray;
  color: white;
}

#header {
  margin: 0;
}

#tm-table-logo {
  height: 3vw;
  width: 3vw;
}

#sg-table-logo {
  height: 2.5vw;
  width: 2.5vw;
}

tr.border{
  outline: thin solid;
}
